<header>
    <div class="container header-container">
        <a href="{% url 'home' %}" class="header__logo">
            <h1>GraduateHub</h1>
        </a>
        <nav>
            <div class="navbar">
                <ul class="navbar-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'compare' %}">Compare</a></li>
                    <li><a href="{% url 'find' %}">Find</a></li>
                    <li><a href="{% url 'room_list' %}">Rooms</a></li>
                </ul>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a href="#" id="profileToggle">{{ user.username }}</a>
                    <div id="profileDropdown" class="dropdown-menu">
                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'login_register' %}">Login/Register</a>
                {% endif %}
            </div>
        </nav>
    </div>
  </header>  