{% extends 'main.html' %}

{% block content %}
<div class="container-chatroom">
    <!-- Wrap the entire chatroom in a new div -->
    <div class="chatroom-wrapper">
        <div class="room-section">
            <div class="room-header">
                <div class="room-info">
                    <p>@{{ room.creator.username }}</p>
                    <p>{{ room.created_at|timesince }} ago</p>
                    <h2>{{ room.name }}</h2>
                    <p>{{ room.description }}</p>
                </div>

                {% if room.creator == user %}
                <div class="room-actions">
                    <a href="{% url 'edit_room' room.id %}" class="btn btn-edit">Edit Room</a>
                    <a href="{% url 'delete_room' room.id %}" class="btn btn-delete">Delete Room</a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="chat-box">
            {% for message in messages %}
            <div class="message">
                <div class="message-header">
                    <div>
                        <strong>@{{ message.user.username }}</strong>
                        <small>{{ message.timestamp|timesince }} ago</small>
                    </div>

                    {% if message.user == user %}
                    <div class="message-actions">
                        <a href="{% url 'edit_message' message.id %}" class="btn btn-edit">Edit</a>
                        <a href="{% url 'delete_message' message.id %}" class="btn btn-delete">Delete</a>
                    </div>
                    {% endif %}
                </div>
                <p>{{ message.content }}</p>
            </div>
            {% endfor %}
        </div>

        <!-- Form for new messages -->
        <form method="POST", id="messageForm">
            {% csrf_token %}
            <div>
                {{ form.content }}
            </div>
            <!-- Apply the updated class for the Send button -->
            <button type="submit" class="btn btn-success">Post Meseage</button>
        </form>
    </div>
</div>
{% endblock content %}